.googleLogoutButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #384152 !important;
    border-color: #2a313d !important;
    color: white !important;
    width: 100%;
    div {
        background-color: transparent !important;
    }
}
